
<h1>My Bookings</h1>


<div class="bookings">

  <div class="book-card">
    <% @bookings.each do |booking| %>
        <h2><%= booking.spaceship.name %></h2>
        <p><small><%= booking.start_time.strftime("%d %B %Y") %></small></p>
        <p>Your booking is being reviewed by the ship owner...</p>
        <strong><%= booking.status %></strong>
        <div class="card-actions">
          <a href="#" class="link-secondary">Edit <i class="fas fa-pencil-alt"></i></a>
          <a href="#" class="link-secondary">Delete <i class="far fa-trash-alt"></i></a>
        </div>
        <hr class="solid">
        <% end %>
      </div>
</div>
