<h1>My Bookings</h1>

<div class="bookings">

 <% @bookings.each do |booking| %>
        <div class="card">
        <%= booking.spaceship.name %>
        <%= booking.start_time %>
        <%= booking.status %>
        <% end %>
        </div>
</div>
