<div class="bookings">

<h1>My Bookings</h1>

 <% @bookings.each do |booking| %>
        <div class="card">
        <%= booking.spaceship.name %>
        <%= booking.date %>
        <%= booking.status %>
        <% end %>
        </div>
</div>
