

<% @spaceships.each do |spaceship| %>
<div class="cards">
  <div class="card card1">
    <div class="container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREI_Wd0rY-tkyJh5_3pB_X67GQGLUKE4_wvQ&usqp=CAU" alt="">
    </div>
    <div class="details">
      <h3><%= spaceship.name %> </h3>
      <p><%= spaceship.description %></p>
      <%= link_to "Book Now", spaceship_path(spaceship) , class: "nav-link text-secondary" %>
    </div>
  </div>
  <% end %>
