.form-container {
    background-color: white;
    display: grid;
    place-items: left;
    font-family: 'Poppins',sans-serif;
    padding: 20px;
    grid-gap: 40px;
    margin: 5px;
    border-radius: 4px;
}
