body{
  background-color: #151320;
}
.navbar-lewagon {
  justify-content: space-between;
  background: rgba(10, 10, 10, 0.918);
  color: grey;

  h3 {
    font-family: $space-font;
  }
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.footer {
  background: black;
  display: flex;
  width: 100vw;
  z-index: 50;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: grey;
  margin-top: 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: grey;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.showcontainer{
  margin-top: 67px;
}
